/*container for buttons*/
.window-controls {
    font-size: 20px; /* Adjust this value to change the icon size */
    line-height: 1; /* Helps keep them aligned properly */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
  }
  
  /*individual buttons*/
  .window-controls .window-btn {
    width: 30px; 
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(221, 216, 216);
    transition: color 0.4s,
  }
  
  .window-controls .window-btn:hover {
    color: #9b9b9b;
  }
  /* icons from google */
  .window-controls .material-symbols-outlined {
    font-size: 23px;
  }
  